# Backend
fastapi==0.116.2
uvicorn==0.35.0
sqlalchemy==2.0.43
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
passlib==1.7.4
bcrypt==4.3.0
cryptography==46.0.1
ecdsa==0.19.1
rsa==4.9.1
anyio==4.10.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
starlette==0.48.0
pydantic==2.11.9
pydantic_core==2.33.2
typing-extensions==4.15.0
colorama==0.4.6

# Testing
pytest==8.4.2
iniconfig==2.1.0
pluggy==1.6.0

# ML / Data Science
torch>=2.0
torchvision
tensorflow==2.20.0
keras==3.11.3
scikit-learn==1.7.2
scipy==1.16.2
pandas==2.3.2
numpy==2.3.3
matplotlib==3.10.6
opencv-python
pillow==11.3.0
tqdm

# Cloud & Utilities
boto3==1.40.30
google-cloud-storage==3.3.1
